<!DOCTYPE html>
<html lang="en">
	<%- include('partial/head') %>
	
	<body style="background-image: url('images/2936972.webp');">
		<div style="height: 500px; color: white" class="text-center mt-5">
		<h1 style="margin-top: 300px; color: white; font-size:100px" class="" style="font-size: 100px;"><span>&#128075;</span> Welcome!</h1>
			<h2 class="fs-5 mb-5">This project is created by Juan, Kisbayu, and Avinska to help you manage your user list</h2>
		
		
		<a class="fw-bolder" href="/user">
			<button class="btn btn-lg btn-submit fw-bolder">Get Started</button>
		</a>

		<h3 class="fs-6 m-5">Kudos to Juan for the awesome template</h3>
	</div>
