/* Resolusi Tablet */
@media (min-width: 767.98px) {
	/* Start User-List */
	.user__profile-card {
		margin: 1.5em 1.2em;
	}
	/* End User-List */

	/* Start Form */
	.button-group {
		flex-direction: row;
		justify-content: center;
	}

	.btn-submit {
		margin-right: 1.7em;
	}
	/* End Form */
}
